---
BasedOnStyle: LLVM
AccessModifierOffset: -4
AlignAfterOpenBracket: DontAlign
AlignEscapedNewlines: DontAlign
AlignOperands: DontAlign
AlignTrailingComments:
  Kind: Never
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Empty
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: Empty
BinPackArguments: false
BinPackParameters: false
BreakAfterAttributes: Always
BreakBeforeBinaryOperators: All
BreakStringLiterals: false
BreakTemplateDeclarations: No
ColumnLimit: 0
EmptyLineBeforeAccessModifier: Always
FixNamespaceComments: false
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: ^<.*>$
    Priority: 1
    SortPriority: 0
    CaseSensitive: false
  - Regex: ^".*"$
    Priority: 2
    SortPriority: 0
    CaseSensitive: false
IncludeIsMainRegex: $
IndentCaseLabels: true
IndentWidth: 4
InsertNewlineAtEOF: true
KeepEmptyLines:
  AtStartOfBlock: false
  AtStartOfFile: false
LineEnding: LF
NamespaceIndentation: All
PackConstructorInitializers: CurrentLine
PenaltyBreakAssignment: 4294967295
PenaltyBreakBeforeFirstCallParameter: 0
PenaltyBreakComment: 4294967295
PenaltyBreakFirstLessLess: 4294967295
PenaltyBreakScopeResolution: 4294967295
PenaltyBreakString: 4294967295
PenaltyBreakTemplateDeclaration: 4294967295
PenaltyExcessCharacter: 0
PenaltyReturnTypeOnItsOwnLine: 4294967295
RequiresClausePosition: SingleLine
SeparateDefinitionBlocks: Always
ShortNamespaceLines: 4294967295
SpacesInContainerLiterals: false
SpacesInLineCommentPrefix:
  Minimum: 0
  Maximum: 1
TabWidth: 4
UseTab: Always
